{% extends 'layout.twig' %}
{% block body %}
<div class="main-content">
    <div class="form-group">
        <label>Client :</label>
        <input type="text" class="form-control">
        <label>Hotel :</label>
        <select class="form-select">
        </select>
        <label>Date de début :</label>
        <input type="text" class="form-control">
        <label>Date de fin :</label>
        <input type="text" class="form-control">
        <label>Nombre T1 :</label>
        <input type="number" class="form-control">
        <label>Nombre T2 :</label>
        <input type="number" class="form-control">
        <label>Nombre T3 :</label>
        <input type="number" class="form-control">
    </div>


    <br>
    <div class="container">
        <div class="row">
            <input type="submit" name="" value="Enregistrer" class="btn btn-primary" style="width:48%" >
            <input type="reset" name="" value="Réinitialiser" class="btn btn-danger"  style="width:48%;margin-left:4%">
        </div>
    </div>



</div>
{% endblock %}